[submodule "pack/git-plugims/start/vim-startify"]
	path = pack/git-plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/git-plugims/start/indentLine"]
	path = pack/git-plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/git-plugims/start/nerdtree"]
	path = pack/git-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/git-plugims/start/vim-airline"]
	path = pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/git-plugims/start/vim-airline-themes"]
	path = pack/git-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/git-plugims/start/vim-devicons"]
	path = pack/git-plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/themes/start/dracula"]
	path = pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/git-plugims/start/ctrlp.vim"]
	path = pack/git-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/git-plugims/start/nerdcommenter"]
	path = pack/git-plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/git-plugims/start/emmet-vim"]
	path = pack/git-plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/git-plugims/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugims/start/vim-polyglot"]
	path = pack/git-plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
